@model IEnumerable<TripAdvisor.Models.Appartment>

@{
    ViewBag.Title = "IndexReadOnly";
}

<h2 class="text-center">Appartments</h2>


<table class="table">
    <tr>
        <th>
            <h6>Appartment Name</h6>
        </th>
        <th>
            <h6>Location </h6>
        </th>
        <th>
            <h6>Single Bedroom Price</h6>
        </th>
        <th>
            <h6>Double Bedroom Price</h6>
        </th>
        <th>
            <h6>Rating</h6>
        </th>
        <th>
            <h6>Image</h6>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singleBedPrice) euros/night
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doubleBedPrice)euros/night
            </td>
            <td class>
                <div class="row">
                    @for (var i = item.rating; i > 0; i--)
                    {
                        <i class="glyphicon glyphicon-star" style="color:black"></i>
                    }
                    @for (var i = 5 - item.rating; i > 0; i--)
                    {
                <i class="glyphicon glyphicon-star-empty" style="color:black"></i>
                    }
                </div>
            </td>
            <td>
                <img src="@Url.Content(item.imagepath)" width="300px" height="150" />
            </td>
          
        </tr>
    }

</table>
